body{
    margin:0px;
}
.box-1{
    width:200px;
    height:200px;
    background:rgb(52, 75, 206);
    position:relative;
    left:100px;
    z-index:2000;
}
.box-2{
    background:blue;
    position:relative;
    height:300px;
    top:-20px;
}
.box-3{
    background:rgb(78, 132, 233);
    position:relative;
    height:300px;
}
.box-4{
    background:rgb(174, 197, 247);
    position:absolute;
    top:30px;
    left:30px;
    right:30px;
    bottom:30px;
}
.box-5{
    background:white;
    position:absolute;
    width:10px;
    height:10px;
}
.top{
    top:0px;
}
.right{
    right:0px;
}
.bottom{
    bottom:0px;
}
.left{
    left:0px;
}